server:
  port: 8888
spring:
  security:
    basic:
      enabled: false
  cloud:
    config:
      server:
        git:
          uri: https://github.com/manojpatil5/configServer.git
          default-label: main
management:
  endpoints:
    web:
      exposure:
        include: "*"