logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.cloud: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    ping:
      enabled: true
